.alphabet {
    text-align: center;
    margin-bottom: 1em;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.alphabet .btn,
.all-sources-btn {
    align-items: center;
    font-size: 0.5rem;
    padding: 0.3em;
    background: none;
    border: 2px solid #3fcc59;
    font: inherit;
    line-height: 1;
    color: #69db7e;
    transition: 0.25s;
    cursor: pointer;
}

.btn:hover,
.all-sources-btn:hover,
.btn:focus,
.all-sources-btn:focus {
    border-color: #30c5ff;
    color: #70d6ff;
    box-shadow: 0 0.5em 0.5em -0.4em #30c5ff;
    transform: translateY(-0.25em);
}

.message {
    text-align: center;
    font-size: 1.5em;
    display: none;
}

.sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    overflow: hidden;
    align-items: center;
    font:
        300 1.3em 'Fira Sans',
        sans-serif;
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    text-align: center;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
    display: none;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .source__item {
        flex: 1 1 auto;
    }
}
