body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

html {
    font-size: calc(8px + 8 * (100vw - 320px) / 1600);
}

header {
    /*    padding: 10px 30px; */
    padding: 1em 2em;
}

header h1 {
    font-size: 2.5em;
    font-weight: 800;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer {
    font-size: 14px;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer .footer a {
    color: #444;
    text-decoration: none;
}
footer .footer a:hover {
    color: #555;
}

footer .personal-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .school-link {
    display: inline-block;
    margin-top: 5px;
}
