* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Nautilus Pompilius';
  src: url('../static/fonts/nautiluspompilius.ttf');
}

body {
  color: black;
  font-family:
    Nautilus Pompilius,
    sans-serif;
  font-size: 22px;
  background-color: rgb(231, 220, 241);
  overflow-y: hidden;
}
