* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(../../assets/fonts/Inter-SemiBold.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
  font-family: Inter-SemiBold, sans-serif;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-list nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu-item {
  margin-right: 40px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  padding-bottom: 4px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #403f3d;
  font-size: 16px;
  text-decoration: none;
}

.menu-item:hover {
  border-bottom: 2px solid #403f3d;
}

.header-menu {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  padding-bottom: 4px;
}

.header-menu a {
  text-decoration: none;
  color: #403f3d;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-menu a span {
  margin-right: 8px;
}

.header-menu:hover {
  border-bottom: 2px solid #403f3d;
}

.coffee-enjoy .container {
  background-image: url(../../assets/images/home-page/enjoy-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.coffee-enjoy-info {
  max-width: 530px;
  padding: 100px 0 100px 100px;
}

.coffee-enjoy-head {
  color: #e1d4c9;
  font-size: 72px;
  line-height: 105%;
  margin-bottom: 40px;
}

.coffee-enjoy-head span {
  color: #b0907a;
  font-style: italic;
}

.coffee-enjoy-description {
  color: #e1d4c9;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

.button {
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
  background: #e1d4c9;
  color: #403f3d;
  text-align: center;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 2s linear 2s;
}

.button span {
  margin-right: 8px;
  line-height: 150%; /* 24px */
}

.button svg {
  display: none;
}

.button:hover svg {
  display: block;
  animation: shows 1s;
}

@keyframes shows {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.favorite-coffee {
  padding: 100px 0;
}

.favorite-coffee .container {
  position: relative;
  color: #403f3d;
}

.favorite-coffee-slider {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.favorite-coffee-head {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
}

.favorite-coffee-head span {
  color: #b0907a;
  font-style: italic;
}

.favorite-coffee-name {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.favorite-coffee-description {
  text-align: center;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%; /* 24px */
  margin: 16px 0;
}

.favorite-coffee-price {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.favorite-coffee-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
  margin-right: 12px;
}

.line:last-child {
  margin-right: 0;
}

.line.active {
  background: #665f55;
}

.arrow-next {
  position: absolute;
  right: 0;
  top: calc(50% + 30px);
  cursor: pointer;
}

.arrow-back {
  position: absolute;
  left: 0;
  top: calc(50% + 30px);
  cursor: pointer;
}

.about-head {
  color: #403f3d;
  font-size: 60px;
  line-height: 125%; /* 75px */
  margin-bottom: 40px;
}

.about-head span {
  color: #b0907a;
  font-style: italic;
}

.about-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 430px 200px 430px;
  grid-column-gap: 40px;
}

.about-image img {
  border-radius: 20px;
}

.first-img {
  grid-area: 1/1/2/3;
}

.second-img {
  grid-area: 1/2/2/3;
}

.third-img {
  grid-area: 3/1/4/3;
}

.fourth-img {
  grid-area: 2/2/4/3;
  align-self: end;
}

.mobile-apps {
  padding: 100px 0;
}

.mobile-apps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-apps-info {
  max-width: 630px;
}

.mobile-apps-info-head {
  color: #403f3d;
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 40px;
}

.mobile-apps-info-head span {
  color: #b0907a;
  font-style: italic;
}

.mobile-apps-info-description {
  color: #403f3d;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.mobile-apps-info-actions {
  display: flex;
  align-items: center;
}

.button.btn {
  width: 200px;
  padding: 12px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter-SemiBold, sans-serif;
}

.button.btn:first-child {
  margin-right: 20px;
}

.button-logo {
  margin-right: 8px;
}

.button-text {
  display: flex;
  flex-direction: column;
}

.button-text span {
  color: #403f3d;
  font-size: 16px;
}

.button-text span:first-child {
  color: #403f3d;
  text-align: center;
  font-size: 10px;
  margin-bottom: 2px;
}

.footer {
  padding-bottom: 40px;
}

.footer .container {
  padding: 100px;
  border-radius: 40px;
  background: #665f55;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer-info {
  max-width: 530px;
  margin-right: 100px;
}

.footer-title {
  color: #e1d4c9;
  font-size: 60px;
  line-height: 125%; /* 75px */
  margin-bottom: 40px;
}

.footer-title span {
  color: #b0907a;
  font-style: italic;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials a {
  margin-right: 12px;
}

.footer-socials a:last-child {
  margin-right: 0;
}

.footer-contacts-head {
  color: #e1d4c9;
  font-size: 24px;
  margin-bottom: 40px;
}

.footer-contact-block {
  margin-bottom: 16px;
}

.footer-contact-block:last-child {
  margin-bottom: 0;
}

.footer-contact-block svg {
  margin-right: 8px;
}

.footer-contact {
  color: #e1d4c9;
  font-size: 16px;
}

.footer-contact-block a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
