* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Inter-Regular";
  src: url(../../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url(../../assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: "Inter-SemiBold-Italic";
  src: url(../../assets/fonts/Inter-semi-bold-italic.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e1d4c9;
  font-family: Inter-SemiBold, sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  max-height: 60px;
}

.header-menu-list nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.menu-item {
  margin-right: 40px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s linear;
  position: relative;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #403f3d;
  font-size: 16px;
  text-decoration: none;
  line-height: 150%; /* 24px */
}

.menu-item::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #403f3d;
  width: 0;
  opacity: 0.3;
  right: 50%;
  bottom: -4px;
  transition: all 0.8s ease;
}

.menu-item:hover::after {
  right: 0;
  width: 100%;
  opacity: 1;
}

.header-menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 4px;
  transition: all 0.5s linear;
}

.header-menu a {
  text-decoration: none;
  color: #403f3d;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-menu a span {
  margin-right: 8px;
  line-height: 150%;
}

.header-menu a svg {
  align-self: start;
}

.header-menu::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #403f3d;
  width: 0;
  opacity: 0.3;
  right: 50%;
  bottom: 0;
  transition: all 0.8s ease;
}

.menu-item:hover::after {
  right: 0;
  width: 100%;
  opacity: 1;
}

.burger {
  display: none;
}

.coffee-enjoy .container {
  background-image: url(../../assets/images/home-page/enjoy-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
}

.coffee-enjoy-info {
  max-width: 530px;
  padding: 100px 0 100px 100px;
}

.coffee-enjoy-head {
  color: #e1d4c9;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 40px;
}

.coffee-enjoy-head span {
  color: #b0907a;
  font-family: Inter-SemiBold-Italic, sans-serif;
}

.coffee-enjoy-description {
  color: #e1d4c9;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}

.button {
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
  background: #e1d4c9;
  color: #403f3d;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button span {
  line-height: 150%; /* 24px */
  transition: all 0.5s linear;
}

.button::after {
  content: " ";
  position: absolute;
  right: 62px;
  width: 20px;
  height: 20px;
  opacity: 0;
  background-image: url("../../assets/images/home-page/coffee-cup.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s ease;
}

.button:hover span {
  transform: translateX(-8px);
}

.button:hover::after {
  opacity: 1;
}

.favorite-coffee {
  padding: 100px 0;
}

.favorite-coffee .container {
  position: relative;
  color: #403f3d;
}

.favorite-coffee-slider {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.favorite-coffee-head {
  text-align: center;
  font-size: 60px;
  margin-bottom: 40px;
  line-height: 125%;
}

.favorite-coffee-head span {
  color: #b0907a;
  font-family: Inter-SemiBold-Italic, sans-serif;
}

.favorite-coffee-image img {
  width: 100%;
}

.favorite-coffee-name {
  text-align: center;
  font-size: 24px;
  margin-top: 16px;
  line-height: 125%;
}

.favorite-coffee-description {
  text-align: center;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  line-height: 150%; /* 24px */
  margin: 16px 0;
}

.favorite-coffee-price {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 125%;
}

.favorite-coffee-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
  margin-right: 12px;
}

.line:last-child {
  margin-right: 0;
}

.line.active {
  background: #665f55;
}

.favorite-arrow.arrow-next {
  position: absolute;
  right: 5px;
  top: calc(50% + 5px);
  cursor: pointer;
}

.favorite-arrow.arrow-back {
  position: absolute;
  left: 5px;
  top: calc(50% + 5px);
  cursor: pointer;
}

.favorite-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #665f55;
  box-sizing: border-box;
  transition: all 0.7s linear;
}

.favorite-arrow:hover {
  background-color: #665f55;
}

.favorite-arrow:hover svg path {
  stroke: #e1d4c9;
}

.about-head {
  color: #403f3d;
  font-size: 60px;
  line-height: 125%; /* 75px */
  margin-bottom: 40px;
}

.about-head span {
  color: #b0907a;
  font-family: Inter-SemiBold-Italic, sans-serif;
}

.about-images {
  display: grid;
 /*  grid-template-columns: repeat(2, (min-content, 660px)); */
  grid-template-columns: repeat(2, (minmax(min-content, 660px)));
  grid-template-rows: 430px 120px 430px;
  grid-gap: 40px;
}

.about-image {
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transform: scale(1.1);
  transition: all 0.7s linear;
}

.about-image:hover img {
  transform: scale(1);
}

.about-image.first-img {
  grid-area: 1/1/3/2;
  align-self: start;
}

.about-image.second-img {
  grid-area: 1/2/2/3;
}

.about-image.third-img {
  grid-area: 3/1/4/2;
}

.about-image.fourth-img {
  grid-area: 2/2/4/3;
  align-self: end;
}

.mobile-apps {
  padding: 100px 0;
}

.mobile-apps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mobile-apps-info {
  max-width: 630px;
}

.mobile-apps-info-head {
  color: #403f3d;
  font-size: 60px;
  line-height: 125%;
  margin-bottom: 40px;
}

.mobile-apps-info-head span {
  color: #b0907a;
  font-family: Inter-SemiBold-Italic, sans-serif;
}

.mobile-apps-info-description {
  color: #403f3d;
  font-family: Inter-Regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

.mobile-apps-info-actions {
  display: flex;
  align-items: center;
}

.btn {
  width: 200px;
  padding: 11px 20px;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter-SemiBold, sans-serif;
  transition: all 0.7s linear;
  position: relative;
}

.btn:first-child {
  margin-right: 20px;
}

.btn-logo {
  margin-right: 8px;
  visibility: hidden;
}

.btn.app-store-btn::after {
  content: " ";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("../../assets/images/home-page/app-store-icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s linear;
}

.btn.app-store-btn::before {
  content: " ";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("../../assets/images/home-page/app-store-icon-hover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn.google-play-btn::after {
  content: " ";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("../../assets/images/home-page/google-play.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s linear;
}

.btn.google-play-btn::before {
  content: " ";
  position: absolute;
  width: 36px;
  height: 36px;
  background-image: url("../../assets/images/home-page/google-play-hover.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-text {
  color: #403f3d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.7s linear;
}

.btn-text span {
  font-size: 16px;
  line-height: 150%; /* 24px */
}

.btn-text span:first-child {
  text-align: center;
  font-size: 10px;
  margin-bottom: 2px;
  line-height: 140%; /* 14px */
}

.btn:hover {
  background-color: #665f55;
}

.btn:hover .btn-text {
  color: #e1d4c9;
}

.btn.app-store-btn:hover {
  transition: all 1.5s ease;
}

.btn.app-store-btn:hover::after {
  opacity: 0;
}

.btn.app-store-btn:hover::before {
  opacity: 1;
}

.btn.google-play-btn:hover {
  transition: all 1.5s ease;
}

.btn.google-play-btn:hover::after {
  opacity: 0;
}

.btn.google-play-btn:hover::before {
  opacity: 1;
}

.mobile-apps-image {
  max-height: 630px;
}

.mobile-apps-image img {
  width: 100%;
}

.footer {
  padding-bottom: 40px;
}

.footer .container {
  padding: 100px;
  border-radius: 40px;
  background: #665f55;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.footer-info {
  max-width: 530px;
  margin-right: 100px;
}

.footer-title {
  color: #e1d4c9;
  font-size: 60px;
  line-height: 125%; /* 75px */
  margin-bottom: 40px;
}

.footer-title span {
  color: #b0907a;
  font-family: Inter-SemiBold-Italic, sans-serif;
}

.footer-socials {
  display: flex;
  align-items: center;
}

.footer-socials-icon {
  margin-right: 12px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #c1b6ad;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  background: transparent;
  box-sizing: border-box;
}

.footer-socials-icon:last-child {
  margin-right: 0;
}

.footer-socials-icon:hover path {
  stroke: #403f3d;
}

.footer-socials-icon:hover svg {
  fill: #e1d4c9;
}

.footer-socials-icon:hover {
  background-color: #e1d4c9;
}

.footer-contacts-head {
  color: #e1d4c9;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 125%; /* 30px */
}

.footer-contact-block {
  margin-bottom: 20px;
  position: relative;
}

.footer-contact-block:last-child {
  margin-bottom: 0;
}

.footer-contact-block svg {
  margin-right: 8px;
  vertical-align: baseline;
  align-self: flex-start;
}

.footer-contact-block a {
  text-decoration: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.footer-contact-block a::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #e1d4c9;
  width: 0;
  opacity: 0.3;
  right: 65%;
  bottom: -4px;
  transition: all 0.8s ease;
}

.footer-contact-block a:hover::after {
  right: 30%;
  width: 70%;
  opacity: 1;
}

.footer-contact {
  color: #e1d4c9;
  font-size: 16px;
  line-height: 150%; /* 24px */
}

.footer-contacts-schedule {
  display: flex;
  align-items: center;
}
