.targetContainer {
  width: 718px;
  height: 427px;
  display: grid;
  grid-gap: 3px;
  background-color: grey;
  border: 1px solid rgb(77, 76, 76);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.row {
  display: flex;
  gap: 3px;
  height: 40px;
  /*   display: none; */
}
