.targetContainer {
  width: 718px;
  height: 427px;
  display: grid;
  grid-gap: 3px;
  background-color: grey;
  border: 1px solid rgb(77, 76, 76);
}

.row {
  display: flex;
  gap: 3px;
  height: 40px;
  /*   display: none; */
}

.row .puzzle {
  flex-grow: initial;
}
