.header {
  padding: 5px 15px;
  background-color: rgb(224 207 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo img {
  width: 100%;
}

.logout {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 18px;
}
