header {
  box-sizing: border-box;
  padding: 20px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-logo {
  max-height: 60px;
}

.header-menu-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.menu-item {
  margin-right: 40px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s linear;
  position: relative;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item a {
  color: #403f3d;
  font-size: 16px;
  text-decoration: none;
  line-height: 150%; /* 24px */
}

.menu-item::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #403f3d;
  width: 0;
  opacity: 0.3;
  right: 50%;
  bottom: -4px;
  transition: all 0.8s ease;
}

@media (hover: hover) and (pointer: fine) {
  .menu-item:hover::after {
    right: 0;
    width: 100%;
    opacity: 1;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 4px;
  transition: all 0.5s linear;
}

.header-menu.menu-item {
  margin: 0;
}

.header-menu a {
  text-decoration: none;
  color: #403f3d;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.header-menu a span {
  margin-right: 8px;
  line-height: 150%;
}

.header-menu a svg {
  align-self: start;
}

.header-menu::after {
  content: " ";
  position: absolute;
  height: 2px;
  background-color: #403f3d;
  width: 0;
  opacity: 0.3;
  right: 50%;
  bottom: 0;
  transition: all 0.8s ease;
}

@media (hover: hover) and (pointer: fine) {
  .menu-item:hover::after {
    right: 0;
    width: 100%;
    opacity: 1;
  }
}

.menu-in-burger {
  display: none;
}

.burger {
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #665f55;
  box-sizing: border-box;
  position: relative;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 1.6px;
  background-color: #403f3d;
  left: calc(50% - 8px);
  transition: all 0.4s ease;
}

.burger::before {
  top: 16px;
}

.burger::after {
  bottom: 16px;
}


.burger.active::before {
  transform: rotate(45deg);
  top: calc(50%);
}

.burger.active::after {
  transform: rotate(-45deg);
  bottom: calc(50% - 2px);
}

/* .burger-line {
    width: 16px;
    height: 1.5px;
    background-color: #403F3D;
  }
  
  .first-line {
    margin-bottom: 6px;
  }
  
  .first-line.active {
    transform: rotate(-45deg);
    margin: 0;
  } */

.second-line.active {
  transform: rotate(45deg);
}
